# Entornos virtuales
.venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración sensibles
.env
*.env

# Reportes de pruebas
playwright-report/
test-results/
allure-results/

# Videos, screenshots
reports/
*.png
*.mp4

# Archivos de sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

test_recorded.py
